.map {
  margin-top: -55px !important;
}
.map {
  height: 632px;
  width: 100vw;
}
.mapboxgl-canvas {
  height: 1000px !important;
}
@media only screen and (min-height: 680px) {
  .map {
    height: 95vh;
  }
}
