<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="navigate()">
      <mat-icon>menu</mat-icon>
    </ion-button>
    <ion-title>Explore</ion-title>
  </ion-toolbar>
</ion-header>
<!--To Do For Page:
      Create actual page.
      Add Search Bar
      Look into MapboxGL for Ionic/Angular
      Sidebar -- AM has one (Arrow to pull it out/push it in)
      Filter Modal Box

      Color Scheming with Jordan. 
      Double Check Routing. 
      Comment code concisely.
-->
<ion-content>
  <div>
    <!-- Search Bar (MD or Ionic) -->
    <mat-sidenav-container>
      <mat-sidenav #sidenav [mode]="control.value">
        <div *ngIf="items.length > 0">
          <ion-card *ngFor="let item of items" [routerLink]="['/details', item.payload.doc.id]">
            <img [src]="item.payload.doc.data().image">
            <ion-card-header>
              <ion-card-title>{{item.payload.doc.data().title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button fill="clear" slot="end">Details</ion-button>
            </ion-card-content>
          </ion-card>
        </div>
      </mat-sidenav>
      <mat-sidenav-content>
        <ion-toolbar>
          <ion-searchbar animated="true" placeholder="Search for events near you"
            showCancelButton="true"></ion-searchbar>
          <ion-button slot="start" fill="clear">
            <mat-icon *ngIf="this.sideNavIsOut" (click)="close()">keyboard_arrow_right</mat-icon>
            <mat-icon *ngIf="!this.sideNavIsOut" (click)="open()">keyboard_arrow_left</mat-icon>
          </ion-button>
        </ion-toolbar>
        <div class="map">
          <app-map></app-map>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <!--  -->
  <div>
    <!-- Sidebar for events -->

  </div>
</ion-content>
