<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="navigate()">
        <mat-icon>menu</mat-icon>
    </ion-button>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="items" class="list-mini-content" padding>
  
    <!-- <ion-grid>
        <ion-row>
          <ion-col size="1">
            <ion-fab>
              <ion-fab-button (click)="navigate()"><mat-icon>menu</mat-icon></ion-fab-button>
            </ion-fab>
          </ion-col>
          <ion-col size="6" align-self-start>
            <h1>Account</h1>
          </ion-col>
        </ion-row>
    </ion-grid> -->
  <!-- <div *ngIf="items.length > 0" class="list-mini">
    <ion-list>
      <ion-item *ngFor="let item of items" [routerLink]="['/details', item.payload.doc.id]">
        <ion-thumbnail slot="start">
          <img [src]="item.payload.doc.data().image">
        </ion-thumbnail>
        <ion-label>{{item.payload.doc.data().title}}</ion-label>
        <ion-button fill="clear" slot="end">Details</ion-button>
      </ion-item>
    </ion-list>
  </div> -->
  <ion-grid *ngIf="items.length > 0" class="list-mini">
    <ion-row *ngFor="let item of items">
      <ion-card *ngFor="let item of items" [routerLink]="['/details', item.payload.doc.id]">
        <img [src]="item.payload.doc.data().image">
        <ion-card-header>
          <ion-card-title>{{item.payload.doc.data().title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button fill="clear" slot="end">Details</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
  <div *ngIf="items.length == 0" class="empty-list">
    No events listed in your local area...
  </div>
</ion-content>

<ion-footer>

      <ion-button (click)="logout()">
          <ion-icon slot="start" name="exit"></ion-icon>
        </ion-button>

        <ion-button>
            <ion-icon [routerLink]="['/profile']" slot="start" name="contact"></ion-icon>
          </ion-button>

      <ion-button>
          <ion-icon slot="start" name="contacts"></ion-icon>
        </ion-button>

      <p [routerLink]="['/account']">test</p>
  </ion-footer>

