<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/new-event']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      Host Event</ion-button>

      <ion-button [routerLink]="['/profile']">
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      Profile</ion-button>


    </ion-buttons>
    <ion-title>DinnerBell</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="items" class="list-mini-content" padding>
  <div *ngIf="items.length > 0" class="list-mini">
    <ion-list>
      <ion-item *ngFor="let item of items" [routerLink]="['/details', item.payload.doc.id]">
        <ion-thumbnail slot="start">
          <img [src]="item.payload.doc.data().image">
        </ion-thumbnail>
        <ion-label>{{item.payload.doc.data().title}}</ion-label>
        <ion-button fill="clear" slot="end">Details</ion-button>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="items.length == 0" class="empty-list">
    No events listed in your local area...
  </div>
</ion-content>

<ion-footer>

      <ion-button (click)="logout()">
          <ion-icon slot="start" name="exit"></ion-icon>
        </ion-button>

        <ion-button>
            <ion-icon [routerLink]="['/profile']" slot="start" name="contact"></ion-icon>
          </ion-button>

      <ion-button>
          <ion-icon slot="start" name="contacts"></ion-icon>
        </ion-button>
  </ion-footer>

