.empty-list {
  font-weight: 500;
  text-align: center;
  margin-top: 40px;
  // color: var(--ion-color-medium);
  color: white;
}
ion-title {
  font-weight: 600;
}
ion-card {
  background: radial-gradient(circle at bottom, #65a0e3 0, #5064b3 75%);
  box-shadow: 0px 0px 15px 0px rgb(0, 0, 0);
  transition: box-shadow 0.5s linear, background-position-y 0.5s ease-in-out;
}
.calendar,
.plate {
  right: 8px;
  background: none;
}
.fab {
  contain: layout;
}
button[ion-fab] {
  overflow: visible;
  position: relative;

  ion-label {
    position: absolute;
    top: 14px;
    right: 65px;
    width: 115px;
    color: white;
    font-size: 1.25em;
    background-color: rgba(0, 0, 0, 0.7);
    line-height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
  }
}
.plate-label {
  width: 150px !important;
}
.sec-title {
  font-family: 'Mermaid', serif;
}
ion-card:hover {
  box-shadow: 0px 0px 25px 0px rgb(0, 0, 0);
  background-position-y: 44px;
}
.details {
  color: white;
}
