<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="navigate()">
      <mat-icon>menu</mat-icon>
    </ion-button>
    <ion-title (click)="nextSlide()">About</ion-title>
  </ion-toolbar>
</ion-header>
<!-- To Do For This Page:
      Generate photos for Sections.
      Create responsive grid system.
      Presentation mode?
      Add footer with legal docs. 
      Choose typography.
      Create physical media off of this?

      Color Scheming with Jordan. IMPORTANT HERE 
      Double Check Routing. 
      Comment code concisely.
-->
<ion-content>
  <ion-grid>
    <!-- Section 1: DinnerBell logo, title, and desc
    "Uniting us over what we all share in common: food." -->
    <ion-row justify-content-center align-items-center>
      <ion-col align-self-center class="logo-col">
        <img class="logo" src="../../assets/logo.svg" viewBox="0 0 60 55">
      </ion-col>
      <ion-col align-self-center class="title-col">
        <h1 class="title">DinnerBell</h1>
        <p class="subtitle">Uniting us over what we all share in common: food.</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Section 2: Vision 
      Vision Title
      PHOTO - Coffee Cups at table
      "DinnerBell is a dynamic web application designed to create events to share food"
    -->
    <ion-grid class="vision">
        <ion-row justify-content-center align-items-center>
          <ion-col align-self-center class="logo-vision">
          </ion-col>
          <ion-col align-self-center class="title-vision">
            <h1 class="title">Vision</h1>
            <p class="subtitle">DinnerBell is a progressive web application designed to create community over shared meals. You will join or create events in your area, with the hope of meeting new people and forming lasting bonds.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
  
    <!-- Section 3: Location
      Location Title - PHOTO - tacks on map
      Some mash up of food and geography
      "We cater to you events that are near you without showing your exact location" -->
      <ion-grid class="location">
          <ion-row justify-content-center align-items-center>
            <ion-col align-self-center class="logo-location">
            </ion-col>
            <ion-col align-self-center class="title-location">
              <h1 class="title">Location</h1>
              <p class="subtitle">To personalize your experience, we use your location data to pinpoint and plot events near you. However, we realize the need for privacy. That is why no one will see your location accept us.</p>
            </ion-col>
          </ion-row>
        </ion-grid>  <div>
    <!-- Section 4: Design
      Design Title
      Computer raised Layout 
      Spheal about libraries we used and how we used them.
    -->
  </div>
  <ion-slides #slides pager="true" [options]="slideOpts">
    <ion-slide>
        <ion-grid class="ionic-grid">
            <ion-row justify-content-center align-items-center>
              <ion-col align-self-center class="ionic">
                  <img class="ionic" src="../../assets/imgs/ionic-icon.png">
              </ion-col>
              <ion-col align-self-center class="title-location">
                <h1 class="ionic-title title">Ionic</h1>
                <p class="subtitle">To create this app, we used the <a href="https://ionicframework.com/">Ionic Framework</a>, a mobile-first development platform built off of <a href="https://angular.io">Angular</a>. It natively implements the techniques and methods of <a href="https://material.io">Material Design</a> to create a beautiful and simplistic user experience.</p>
              </ion-col>
            </ion-row>
          </ion-grid>
    </ion-slide>
    <ion-slide>
        <ion-grid class="mapbox-grid">
            <ion-row justify-content-center align-items-center>
              <ion-col align-self-center class="mapbox">
                  <img class="ionic" src="../../assets/imgs/mapbox-logo-black.png" viewBox="0 0 60 55">
              </ion-col>
              <ion-col align-self-center class="title-location">
                <h1 class="ionic-title title">Mapbox</h1>
                <p class="subtitle">The most important visual part of our application, the map, was built with Mapbox, a free vector map platform that allows for a large amount of customizability.</p>
              </ion-col>
            </ion-row>
          </ion-grid>
    </ion-slide>
    <ion-slide>
        <ion-grid class="fb-grid">
            <ion-row justify-content-center align-items-center>
              <ion-col align-self-center class="fb">
                  <img src="../../assets/imgs/logo-built_black.svg" viewBox="0 0 60 55">
              </ion-col>
              <ion-col align-self-center class="title-location">
                <h1 class="ionic-title title">Firebase</h1>
                <p class="subtitle">For our event storage and user authentication, we utilized Google's Firebase program, a No-SQL server platform that allows for simple account setup, realtime storage, and powerful tools to keep our app experience fresh and perfect.</p>
              </ion-col>
            </ion-row>
          </ion-grid>
    </ion-slide>
  </ion-slides>
  <div>
    <!-- Section 6: Creators
      Creators title
      Image of Us
      Students from L&N STEM Academy, Mr Lafollette, etc. 
    -->
  </div>
</ion-content>
