ion-slide {
  height: 100%;
}
ion-slides {
  height: 100%;
}
ion-grid {
  padding: 0px;
}
.arrows > mat-icon {
  color: blue;
}
.right-arrow {
  text-align: end;
}
.arrows {
  width: 100%;
  height: 100%;
}
.arrows-row {
  height: 100%;
}
.title {
  font-size: 100px;
}
.subtitle {
  font-size: 32px;
  font-family: 'Mermaid', serif;
}
.title-col {
  text-align: center;
}
.logo-col {
  display: flex;
  align-items: center;
  justify-content: center;
}
ion-grid,
ion-row {
  height: 100%;
}
.logo {
  width: auto;
  height: 65vh;
  animation: swing 2s cubic-bezier(0.1, -0.6, 0.2, 0) 1s infinite alternate;
}
@keyframes swing {
  from {
    tranform: rotateZ(-65deg);
  }
  to {
    transform: rotateZ(45deg);
  }
}
.logo-vision {
  height: 100%;
  background-size: cover;
  background-image: url('../../assets/imgs/celebrate-celebration-cheers-1268558.jpg');
  background-blend-mode: multiply;
}
.title-vision {
  text-align: center;
}
.vision {
  background-color: #8da1e2;
}
.logo-location {
  height: 100%;
  background-size: cover;
  background-image: url('../../assets/imgs/blur-bright-close-up-1078850.jpg');
  background-blend-mode: multiply;
}
.title-location {
  text-align: center;
}
.ionic-grid {
  background-color: #476eee;
}
.mapbox-grid {
  background-color: #9d8de2;
}
.fb-grid {
  background-color: #4eade4;
}
.ionic {
  width: 400px;
  height: auto;
}
a {
  text-decoration: none;
  color: #333333;
}
