<ion-header>
  <ion-toolbar color="secondary">
    <ion-title [routerLink]="['/nav']">Log In</ion-title>
  </ion-toolbar>
</ion-header>
<!-- To Do For Page:
      Reformat to be consistent with other pages. -- Why is it a different color?
      COMPLETED --- Make responsive. -- Check out buttons in AM or Ionic
      Particle JS for background?
      Change typography -- Offline Fonts?

      COMPLETED --- Look into why card expands when button is pressed
      ABANDONED --- Switch to ion card?
      MAKE A SIGN UP PAGE
      

      Color Scheming with Jordan. 
      Double Check Routing. 
      Comment code concisely.
-->
<ion-content class="form-content">
  <div id="particles-js"></div>
  <!-- <ion-grid class='ion-grid'>
    <ion-row align-items-center justify-content-center>
        <form class="form-test">
          <h1>Login Test</h1>
          <input type="username" placeholder="Username">
          <input type="password" placeholder="Password">
        </form>
    </ion-row>
  </ion-grid> -->

  <ion-grid>
    <ion-row align-self-center justify-content-center>
      <form
        class="form form-test"
        [formGroup]="validations_form"
        (ngSubmit)="tryLogin(validations_form.value)"
      >
        <h1>Log In</h1>
        <ion-item class="email" lines="inset">
          <ion-label position="floating" color="secondary">Email</ion-label>
          <ion-input
            class="input"
            type="text"
            formControlName="email"
          ></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div
              class="error-message"
              *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)"
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <ion-item class="psswd" lines="inset">
          <ion-label position="floating" color="secondary">Password</ion-label>
          <ion-input
            class="input"
            type="password"
            formControlName="password"
          ></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div
              class="error-message"
              *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)"
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <ion-button
          class="submit-btn"
          expand="block"
          type="submit"
          [disabled]="!validations_form.valid"
          >Log In</ion-button
        >
        <label class="error-message">{{errorMessage}}</label>
        <p class="go-to-register">
          No account yet? <a (click)="goRegisterPage()">Create an account.</a>
        </p>
      </form>
    </ion-row>
  </ion-grid>
  <!-- particle.js background-->
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col align-self-start>
        <p>Copyright 2019; DinnerBell Inc.</p>
        <!--Try a thinner font-->
      </ion-col>
      <ion-col align-self-end class="legal">
        <p>Terms of Service</p>
        <p>Privacy Policy</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
