h1 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
}
.mat-display-3 {
    margin-bottom: 3%;
    margin-left:-5%;
}
.nav {
    display: inline !important;
}
.mat-title {
    font-family: 'Lora', serif;
}