h1 {
  font-family: 'Mermaid', serif;
  color: white;
}
.mat-display-3 {
  width: 180px;
  margin-bottom: 3%;
  margin-left: -5%;
  background: linear-gradient(to bottom, #009E77 0, #009E77 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  transition: background-size 0.5s, color 0.5s;
}
.mat-display-3:hover {
  background-size: 4px 100px;
  color: #abb7e9;
}
.account-long {
  width: 275px;
}
.nav {
  display: inline !important;
}
.mat-title {
  font-family: 'Lato', sans-serif;
  color: #bebbbb;
}
ion-grid {
  height: 100%;
}
ion-row {
  height: 100%;
}
.email {
  text-align: center;
  vertical-align: middle !important;
}
.contact {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .mat-display-3 {
    width: auto;
  }
}
// .nav {
//     background-color:white;
// }
.links {
  height: 90%;
}
.sign-out {
  color: red;
}
.switch {
  color: white;
}
