h1 {
    font-family: 'Exo 2', sans-serif;
}
.mat-display-3 {
    margin-bottom: 3%;
    margin-left:-5%;
    //text-align: center;
}
.nav {
    display: inline !important;
}
.mat-title {
    font-family: 'Lato', sans-serif;
    //text-align: center;
}
ion-grid {
    height: 100%;
}
.email {
    text-align: center;
    vertical-align: middle !important;
}
.contact {
    text-align: center;
    padding-bottom: 20%;
}
@media only screen and (max-width: 600px) {
    .mat-display-3 {
        width: auto;
        margin-bottom:30px;
    }
}
@media only screen and (min-height: 740px) {
    .contact {
        padding-bottom: 15%;
    }
    .nav {
        padding-top:15%;
    }
}