h1 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    margin-top:0.25em;
    text-align: center;
}
// .mat-display-1 {
//     margin-left:5%;
//     margin-top:0.25em;
// }
.usr-icon {
    width: 150%;
}
.mat-title {
    font-family: 'Lora', serif;
}
ion-label {
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
}