<ion-header>
    <ion-toolbar>
      <ion-button slot="start" fill="clear" (click)="navigate()">
          <mat-icon>menu</mat-icon>
      </ion-button>
      <ion-title>Account</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content padding>
  <!-- <div>
  </div> -->
  <ion-grid>
    <ion-row align-items-center justify-content-center>
      <ion-avatar class="hydrated">
        <img src="../../assets/imgs/user-placeholder.png" class="usr-icon">
      </ion-avatar>
    </ion-row>
    <ion-row align-items-center justify-content-center>
        <h1 class="mat-display-3">Tyler Duckworth</h1>
    </ion-row>
    <ion-row align-items-center justify-content-center>
        <ion-item lines="none">
          <mat-icon>email</mat-icon>
          <span>&nbsp;</span>
          <form>
            <mat-form-field>
              <input matInput placeholder="Email">
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
          </form>
        </ion-item>
    </ion-row>
    <ion-row align-items-center justify-content-center>
      <ion-item lines="none">
        <mat-icon>location_on</mat-icon>
        <span>&nbsp;</span>
        <form>
          <mat-form-field>
            <input matInput placeholder="ZIP">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
        </form>
      </ion-item>
    </ion-row>
    <ion-row align-items-center justify-content-center>
      <ion-item lines="none">
          <mat-icon>phone</mat-icon>
          <span>&nbsp;</span>
          <form>
            <mat-form-field>
              <span matPrefix>+1 &nbsp;</span>
              <input type="tel" matInput placeholder="Telephone">
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
          </form>
      </ion-item>
    </ion-row>
  </ion-grid>
  
</ion-content>