<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="client"></ion-back-button>
    </ion-buttons>
    <ion-title>New Event</ion-title>
  </ion-toolbar>
</ion-header>
<!-- To Do For This Page:
      Make similar to event details, accept the fields are empty.

      Color Scheming with Jordan. 
      Double Check Routing. 
      Comment code concisely.
-->
<ion-content padding>
  <div>
    <ion-row no-padding>
      <ion-col size="6" offset="3">
        <img [src]="image" alt="this is the image" />
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col size="6" offset="3">
        <ion-button
          fill="outline"
          expand="block"
          size="small"
          (click)="openImagePicker()"
          >Change Picture</ion-button
        >
      </ion-col>
    </ion-row>
  </div>
  <form
    [formGroup]="validations_form"
    (ngSubmit)="onSubmit(validations_form.value)"
  >
    <ion-item>
      <ion-label position="floating" color="secondary">Title</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="secondary">Description</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="secondary">Price</ion-label>
      <ion-input type="text" formControlName="price"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="secondary">Location</ion-label>
      <ion-input type="text" formControlName="location"></ion-input>
    </ion-item>
    <ion-button
      class="submit-btn"
      expand="block"
      type="submit"
      [disabled]="!validations_form.valid"
      >Create</ion-button
    >
  </form>
</ion-content>
